{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div>
    {% include "navbar.html" %}

    <div class="container mt-3">
        {% if messages %}
            {% for message in messages %}
            <div
            id="myAlert"
            class=" alert alert-warning alert-dismissible fade show text-center mt-2"
            role="alert"
            style="position: relative"
          >
          {{message}}
        
          </div>
            {% endfor %}
        {% endif %}  
        
      </div>

</div> 
{% endblock %}